<template>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Title</a>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Link</a>
        </li>
      </ul>
    </div>
</nav>
</template>
<script>
export default {
  name: 'navbar'
};
</script>
<style>
  
</style>